<section class="about-services">
  <div class="contenedor">
    <h2 class="titulo">Recomendaciones</h2>
    <p class="parrafo">Existen varias alternativas para combatir la depresión y la ansiedad, los principales son los tratamientos psicológicos y la medicación con antidepresivos y ansiolíticos, pero esto dependerá de tu nivel de depresión o ansiedad, ya que en caso de ansiedad o depresión leve no es necesaria la medicación y las puedes combatir con otras alternativas.</p>
  </div>
  <br> <br>
  <div class="servicio-cont">
    <div class="servicio-ind" id="activacion_conductual">
      <h3 class="servicio-titulo">Terapia De Activacion Conductual</h3>
      <img src="assets/actcon.jpg" alt="Imagen 2">
      <p class="servicio-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacinia odio, eget lobortis ante.</p>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
    <br> <br>
    <div class="servicio-ind" id="cognitiva_conductual">
      <h3 class="servicio-titulo">Terapia Cognitiva-Conductual</h3>
      <img src="assets/de.jpg" alt="Imagen 2">
      <p class="servicio-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacinia odio, eget lobortis ante.</p>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
    <br> <br>
    <div class="servicio-ind" id="interpersonal">
      <h3 class="servicio-titulo">Psicoterapia Interpersonal</h3>
      <img src="assets/terapias.jpg" alt="Imagen 2">
      <p class="servicio-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacinia odio, eget lobortis ante.</p>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
    <br> <br>
    <div class="servicio-ind" id="resolucion_problemas">
      <h3 class="servicio-titulo">Tratamiento Para la resolución de Problemas</h3>
      <img src="assets/respro.jpg" alt="Imagen 2">
      <p class="servicio-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacinia odio, eget lobortis ante.</p>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
      </ul>
    </div>
  </div>

  <br> <br>
  <div class="servicio-ind" id="Cognitiva-Emocional">
    <h3 class="servicio-titulo">Técnica de Reestructuración Cognitiva</h3>
    <img src="assets/rescog.jpg" alt="Imagen 2">
    <p class="servicio-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacinia odio, eget lobortis ante.</p>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </div>
  <br> <br>
  <div class="servicio-ind" id="fisiologica">
    <h3 class="servicio-titulo">Tecnicas de respiracion Diafragmática</h3>
    <img src="assets/diaf.jpg" alt="Imagen 2">
    <p class="servicio-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacinia odio, eget lobortis ante.</p>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </div>
  <br> <br>
  <div class="servicio-ind" id="conductual">
    <h3 class="servicio-titulo">Tecnicas de exposición</h3>
    <img src="assets/proble.jpg" alt="Imagen 2">
    <p class="servicio-texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacinia odio, eget lobortis ante.</p>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </div>
</section>
