<section class="about-services">
  <div class="contenedor">
    <h2 class="titulo">Recomendaciones</h2>
    <p class="parrafo">Existen varias alternativas para combatir la depresión y la ansiedad, los principales son los tratamientos psicológicos y la medicación con antidepresivos y ansiolíticos, pero esto dependerá de tu nivel de depresión o ansiedad, ya que en caso de ansiedad o depresión leve no es necesaria la medicación y las puedes combatir con otras alternativas.</p>
  </div>
  <br> <br>
  <div class="servicio-cont">
    <div class="servicio-ind" id="activacion_conductual">
      <h3 class="servicio-titulo">Terapia De Activacion Conductual</h3>
      <img src="assets/activacionconductual.jpg" alt="Imagen 2">
      <p class="servicio-texto">La Activación Conductual es un enfoque terapéutico derivado de la teoría conductual, que se enfoca en que las personas comprendan cómo sus acciones pueden afectar su estado emocional y en modificar esas acciones para mejorar su bienestar psicológico. Su premisa fundamental es que al sustituir comportamientos pasivos o negativos por actividades agradables o significativas, es posible mejorar el estado de ánimo.
      </p>
      <ul>
        <li><strong> Análisis Funcional:</strong>Este es el primer paso en AC, donde terapeuta y paciente trabajan juntos para identificar actividades y patrones de comportamiento que contribuyen a la depresión del paciente.</li>
        <li><strong> Identificación de Valores y Metas:</strong>Los pacientes identifican sus valores fundamentales y establecen metas que están en línea con estos valores, lo que proporciona motivación y dirección.</li>
        <li><strong> Planificación de Actividades:</strong>Se alienta a los pacientes a planificar y participar en actividades que están alineadas con sus valores y que son potencialmente gratificantes, incluso si inicialmente no sienten el deseo de hacerlo.</li>
        <li><strong> Monitorización del Comportamiento:</strong>Los pacientes llevan un registro de sus actividades y su estado de ánimo, lo que ayuda a identificar qué actividades tienen un impacto positivo.</li>
        <li><strong> Gradualidad en la Activación:</strong>La AC a menudo comienza con tareas pequeñas y manejables, aumentando gradualmente en complejidad y desafío.</li>
      </ul>
      
    </div>
    <br> <br>
    <div class="servicio-ind" id="cognitiva_conductual">
      <h3 class="servicio-titulo">Terapia Cognitiva-Conductual</h3>
      <img src="assets/actcon.jpg " alt="Imagen 2">
      <p class="servicio-texto">La terapia cognitivo-conductual (TCC) es un tipo de tratamiento psicológico que se concentra en examinar y modificar los pensamientos y comportamientos de un individuo. Este enfoque se sustenta en la premisa de que nuestros pensamientos tienen un impacto significativo en nuestras emociones y acciones, y que podemos influir en ellos para promover una mejor salud mental. La TCC se orienta hacia el presente y el futuro, buscando transformar los modelos de pensamiento y conducta que pueden estar afectando negativamente la calidad de vida.

        Este enfoque terapéutico se desglosa en dos componentes principales: la terapia cognitiva y la terapia conductual. La terapia cognitiva se dedica a modificar los patrones de pensamiento disfuncionales que pueden influir en el bienestar emocional del individuo. Por otro lado, la terapia conductual se centra en modificar los comportamientos que pueden estar contribuyendo a problemas emocionales o de conducta. En conjunto, estos dos enfoques trabajan para promover cambios positivos en la forma en que pensamos y nos comportamos, con el objetivo de mejorar la calidad de vida general del individuo.
        </p>
      <ul>
        <li><strong>Identificar situaciones problemáticas o trastornos de tu vida:</strong>Una afección médica, un divorcio, una pena, un enojo, etc.
        </li>
        <li><strong>Prestar atención a tus pensamientos, emociones y opiniones en relación con estos problemas:</strong>Una vez identificado el problema, deberás contarle al terapeuta que piensas sobre ese problema. Es posible que el terapeuta pida que escribas un diario con tus diálogos internos.</li>
        <li><strong>Identificar pensamientos negativos o inexactos</strong>El terapeuta te pedirá que prestes atención a tus respuestas físicas, emocionales y conductuales ante situaciones diversas.</li>
        <li><strong>Reformar pensamientos negativos o inexactos:</strong>Aprenderás a ver si tu opinión se sustenta en hechos o en una percepción inexacta de la realidad.</li>
      </ul>
    </div>
    <br> <br>
    <div class="servicio-ind" id="interpersonal">
      <h3 class="servicio-titulo">Psicoterapia Interpersonal</h3>
      <img src="assets/terapias.jpg" alt="Imagen 2">
      <p class="servicio-texto">La Terapia Interpersonal (TIP) es un modelo psicológico concebido inicialmente por Klerman con el propósito de tratar la depresión. Sin embargo, se descubrió posteriormente que esta aproximación era efectiva para abordar una variedad de trastornos psicopatológicos, por lo que se comenzó a utilizar de manera independiente.

        Se caracteriza por ser una terapia breve y focalizada, diseñada para ser aplicada a corto plazo y con una duración limitada. Se centra en las relaciones interpersonales presentes del individuo, al mismo tiempo que reconoce la influencia de factores genéticos, bioquímicos, de desarrollo y de personalidad en la etiología y vulnerabilidad de la persona.
        </p>
      <ul>
        <li><strong>Identificación de sus emociones:</strong>mejorar la capacidad de saber lo que me afecta o no una determinada situación, aprender a identificar y manejar emociones.</li>
        <li><strong>Mejorar mi vida en el aquí y ahora:</strong>Aunque a veces se pueden trabajar aspectos del pasado este enfoque se centra sobre todo en el presente, en erradicar el malestar actual.</li>
        <li><strong>Expresión de la emoción:</strong>Esto implica ayudar a expresar sus emociones de una manera más saludable.</li>
        <li><strong>Hacer frente a los problemas en diferentes áreas de la vida:</strong>Desarrollar estrategias útiles y efectivas para confrontar y superar las diferentes situaciones que nos crean estrés y sufrimiento emocional.</li>
      </ul>
    </div>
    <br> <br>
    <div class="servicio-ind" id="resolucion_problemas">
      <h3 class="servicio-titulo">Tratamiento Para la resolución de Problemas</h3>
      <img src="assets/respro.jpg" alt="Imagen 2">
      <p class="servicio-texto">La terapia de solución de problemas es un enfoque de intervención que se apoya en técnicas cognitivas y conductuales con el propósito de fortalecer nuestras habilidades para hacer frente a los desafíos cotidianos que causan malestar. Este modelo parte de la premisa de que los seres humanos tienen una capacidad innata para resolver problemas, aunque existen variaciones individuales en la habilidad para poner en práctica esta capacidad fundamental. Aquellos que pueden abordar y resolver sus problemas suelen experimentar un nivel satisfactorio de bienestar. Por otro lado, aquellos que tienen dificultades para generar soluciones efectivas pueden experimentar malestar, pero tienen la capacidad de aprender a desarrollar mejores soluciones.</p>
      <ul>
        <li><strong>Definición del problema:</strong>en un primer momento debemos clarificar la naturaleza del problema para posteriormente marcar un objetivo realista que desencalle la situación, y para ello es necesario identificar los posibles obstáculos que pueden impedir lograrlo.</li>
        <li><strong>Generación de alternativas:</strong>una vez identificados estos obstáculos, entran en juego las capacidades creativas de cada uno. Dependerá de nuestro ingenio poder trazar diferentes estrategias que nos permitirán superar esas barreras</li>
        <li><strong>Toma de decisiones:</strong>es momento de evaluar las diferentes alternativas, prediciendo las posibles consecuencias de cada una de ellas y llevando a cabo un análisis inversión-beneficio. Todo ello para elegir la mejor opción que nos llevará al objetivo marcado.</li>
        <li><strong>Puesta en práctica y verificación:</strong>que consistirá en llevar a cabo el plan de acción y evaluar los resultados obtenidos, determinando si las medidas tomadas son suficientes o debemos rectificar algún componente para volver a probar.</li>
      </ul>
    </div>
  </div>

  <br> <br>
  <div class="servicio-ind" id="Cognitiva-Emocional">
    <h3 class="servicio-titulo">Técnica de Reestructuración Cognitiva</h3>
    <img src="assets/rescog.jpg" alt="Imagen 2">
    <p class="servicio-texto">La reestructuración cognitiva se centra en promover interpretaciones y pensamientos que sean más acordes con la realidad, tanto en relación con las situaciones que enfrentamos como con nuestras habilidades para afrontarlas. Además, busca fomentar la especificidad en nuestros pensamientos y percepciones.</p>
    <ul>
      <li><strong>Identificar pensamientos erróneos:</strong>Consiste en detectar los pensamientos que en una determinada situación me hacen sentir mal. Es decir, pensar acerca de nuestras propias interpretaciones sobre lo que sucede.</li>
      <li><strong>Analizar pensamientos erróneos:</strong>Una vez que se identifican los pensamientos, se deben analizar, comprobar la veracidad de ese pensamiento, buscar la forma de demostrar que es verdadero o falso. Para ello partimos de una premisa importante, no pensar algo, convierte a ese pensamiento en necesariamente cierto, y para demostrarlo, hay que buscar las evidencias a favor y en contra de dicho pensamiento.</li>
      <li><strong>Modificar los pensamientos erróneos:</strong>Consiste en flexibilizar o cambiar los pensamientos que se ha comprobado que no son ciertos o no totalmente ciertos, por otros más apropiados, razonados y realistas.</li>
    </ul>
  </div>
  <br> <br>
  <div class="servicio-ind" id="fisiologica">
    <h3 class="servicio-titulo">Tecnicas de respiracion Diafragmática</h3>
    <img src="assets/diaf.jpg" alt="Imagen 2">
    <p class="servicio-texto">También conocida como Respiración Abdominal, esta técnica, junto con otras formas de relajación como la Relajación Muscular Progresiva de Jacobson, la Relajación Autógena de Schultz, la meditación y similares, ofrece un método para alcanzar un estado de calma. En este estado, la tensión física disminuye y nuestras funciones vitales, como el pulso y la temperatura corporal, se ven afectadas de manera beneficiosa, promoviendo así la salud física y emocional.

      Una respiración adecuada es fundamental, ya que facilita el transporte de nutrientes esenciales a los tejidos y proporciona energía a los órganos y músculos del cuerpo, al tiempo que mejora el funcionamiento general del organismo. Hasta que logremos dominar la respiración abdominal, podemos comenzar adoptando el hábito de realizar respiraciones profundas para reducir la ansiedad, la inquietud, disminuir la frecuencia cardíaca y relajar la tensión muscular.
      </p>

     
    <ul>
      <p>Beneficios</p>
      <li><strong></strong>Disminución de la tensión muscular tónica.</li>
      <li><strong></strong>Disminución de la frecuencia e intensidad del ritmo cardíaco.</li>
      <li><strong></strong>Aumento de la vasodilatación arterial, con lo que aumenta el riego periférico y la oxigenación celular.</li>
      <li><strong></strong>Disminuye la frecuencia respiratoria pero aumenta la intensidad.</li>
      <li><strong></strong>Aumento del nivel de leucocitos con lo que mejora nuestro sistema inmunitario.</li>
      <li><strong></strong>Favorece la reducción de la ansiedad, irritabilidad y fatiga.</li>
    </ul>
  </div>
  <br> <br>
  <div class="servicio-ind" id="conductual">
    <h3 class="servicio-titulo">Tecnicas de exposición</h3>
    <img src="assets/proble.jpg" alt="Imagen 2">
    <p class="servicio-texto">La técnica de exposición prepara a las personas para enfrentar las situaciones en lugar de evitarlas. En muchos casos, es esencial desarrollar un plan detallado sobre cómo llevar a cabo este proceso, de manera que la persona pueda adquirir experiencia enfrentándose a ellas. En esta técnica es crucial entender que existe un riesgo potencial en algunos casos si no se realiza bajo la supervisión de un experto. Este riesgo implica el aumento de la sensibilidad a la ansiedad, lo cual va en contra del objetivo deseado y puede resultar en un aumento de la ansiedad con cada exposición. Si esto sucede, es posible que la técnica no se esté aplicando correctamente, o que sea necesario abordar otros aspectos antes de iniciar el proceso de exposición.</p>
    <ul>
      <li><strong></strong>No reacciones cuando tienes ansiedad (comer o huir para no sentirla), y acostúmbrate a sentirla sin temerla. </li>
      <li><strong></strong>Aprenda que la ansiedad y sus síntomas pueden ser controlados. Qué podemos hacer en nuestra vida acompañados de la ansiedad.
      </li>
      <li><strong></strong>Se aprende que las consecuencias catastróficas anticipadas a la situación que produce ansiedad no ocurren. Que es más, cuando lo pensamos, que cuando lo hacemos.
      </li>
      <li><strong></strong>Sirven para romper la asociación entre la ansiedad y las situaciones que la generan. A base de ir en coche, o en avión, con un buen programa de exposición, dejaremos de tener ansiedad.</li>
    </ul>
  </div>
</section>
