/* Estilos generales para la sección de recomendaciones */
.about-services {
  padding: 50px 0; /* Añade espacio alrededor del contenido */
  background-color: #f8f9fa; /* Color de fondo */
}

/* Estilos para el contenedor principal */
.contenedor {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 0 20px; 
}

/* Estilos para los títulos */
.titulo {
  text-align: center; 
  color: #333; 
}

/* Estilos para los párrafos */
.parrafo {
  text-align: justify; 
  color: #666;
}


.servicio-ind {
  background-color: #fff; 
  padding: 20px; 
  margin-bottom: 30px; 
  border-radius: 10px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}


/* Estilos para los títulos de servicio */
.servicio-titulo {
  color: #333; 
  text-align: center;
}

/* Estilos para las imágenes */
.servicio-ind img {
  max-width: 100%; 
  height: auto; 
  display: block;
  margin: 0 auto 20px;
}

/* Estilos para los párrafos de servicio */
.servicio-texto {
  text-align: justify; 
  color: #666; 
  padding: 5%;
}

/* Estilos para las listas */
.servicio-ind ul {
  list-style-type: disc; 
  padding-left: 20%; 
  padding-right: 20%;
  
}


.servicio-ind li {
  margin-bottom: 10px;
  color: #666;
}
ul li strong {
  margin-right: 5px; 
}

.p{
  color: #666;
}


