<app-progres-bar *ngIf="loading"></app-progres-bar>
<body>
  
<div *ngIf="!loading" class="container mt -4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Registro de Usuarios</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/add">Agregar Usuario </button>
            <table *ngIf="listUsuarios.length > 0" class="table table-striped mt-5 ">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Diagnostico</th>
                    <th></th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listUsuarios">
                    <td>{{ item.name }}</td>
                    <td>{{ item.apellidos }}</td>
                    <td>{{ item.edad }}</td>
                    <td>{{ item.diagnostico}}</td>
                    <td>
                      <button routerLink="/edit/{{item.id}}" type="button" class="btn btn-info btn-sm ">Editar</button>
                      <button (click)="deleteUser(item.id!)" type="button" class="btn btn-secondary btn-sm ">Eliminar</button>
                    </td>
                  </tr>
                 </tbody>
              </table>
              <h5 *ngIf="listUsuarios.length == 0">No hay usuarios para mostrar</h5>
        </div>
    </div>
</div>
</body>
