

<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../assets/inicio-de-sesion-de-usuario.png" alt="img login">
        <h1>Registro</h1>
        <div class="form-floating mb-3">
            <input type="text" [(ngModel)]="adminame" class="form-control"  placeholder="Nombre de Usuario">
            <label >Usuario</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="password" class="form-control"  placeholder="Contraseña">
            <label >Contraseña</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="confirmPassword" class="form-control"  placeholder="Contraseña">
            <label > Repetir Contraseña</label>
          </div>
          <div>
          <button type="button" (click)="addAdmin()" class="btn btn-primary btn-lg" >Aceptar</button>
        </div>
         <a href="">Volver</a>
    
    </div>

