body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .test-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
  .test-links a {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    border-radius: 25px;
    background-color: #0f0cce;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .test-links a:hover {
    background-color: #3e76f0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  