<body>
    <div class="test-links">
      <div class="column">
        <a href="./testBeck">Test de Depresión</a>
        <div class="servicio-ind">
        <img src="assets/testdepre.jpg" alt="Imagen 2">
      </div>
      </div>
      <div class="column">
        <a href="./testAnsiedad">Test de Ansiedad</a>
        <div class="servicio-ind">
        <img src="assets/testansiedad.jpg" alt="Imagen 2">
      </div>
      </div>
      <div class="column">
      <a href="./testInteligencias">Test de Métodos de aprendizaje</a>
       <div class="servicio-ind">
      <img src="assets/apren.jpg" alt="Imagen 2">
    </div>
    </div>
</div>
  </body>