.respuestas {
  list-style-type: none;
  padding: 0;
 
  
}

/* Aplicar estilo a los elementos pares */
.respuestas li:nth-child(even) {
 
  border-radius: 10px 5px;
}

/* Aplicar estilo a los elementos impares */
.respuestas li:nth-child(odd) {
  background-color: #83f0959c;
  border-radius: 5px 10px;
}

.respuestas li {
  margin-bottom: 5px;
}

button {
  display: block;
  margin: 20px auto; /* Mover el botón al centro */
  padding: 10px 20px;
  background-color: hsla(234, 100%, 50%, 0.747);
  color: #fff;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}

button:hover {
  background-color: #55b8ca94;
}

.resultado {
  margin-top: 20px;
}

.caja1 {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.pregunta {
  font-family: sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}

h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
  color: #0c5a19cc;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 600px) {
.caja1 {
    max-width: 90%; /* Reducir el ancho en dispositivos móviles */
}

h1 {
    font-size: 20px; /* Reducir el tamaño de la fuente del encabezado */
}

.pregunta {
    font-size: 14px; /* Reducir el tamaño de la fuente de la pregunta */
}

h3 {
    font-size: 13px; /* Reducir el tamaño de la fuente del subencabezado */
}
}
