.pregunta-container {
  width: 80%;
  margin: 0 auto;
  background-color: #f2f2f2; /* Fondo gris suave */
  padding: 20px; /* Añade espacio alrededor del contenido */
  border-radius: 8px; /* Añade esquinas redondeadas */
}

.contenido {
  display: flex;
  flex-direction: row;
}

.preguntas {
  flex: 1;
 
}

.imagen-container {
  margin-left: 20px;
  margin-top: 150px; 
  
}

.titulo {
  text-align: center;
  color: #333; /* Color del texto */
}

.instrucciones {
  margin-bottom: 15px;
  color: #555; /* Color del texto */
}

.pregunta {
  margin-bottom: 20px;
}

.pregunta-texto {
  font-size: 18px;
  margin-bottom: 10px;
  color: #222; /* Color del texto */
}

.respuestas {
  list-style-type: none;
  padding-left: 0;
}

.respuestas input[type="radio"] {
  margin-right: 5px;
}

.respuestas label {
  color: #444; /* Color del texto */
}

.botones-navegacion {
  margin-top: 20px;
  text-align: left;
}

.botones-navegacion button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.botones-navegacion button:focus {
  outline: none;
}

.boton-atras {
  background-color: #ff6b6b; /* Rojo */
  margin-right: 20px;
}

.boton-siguiente {
  background-color: #4ecdc4; /* Verde azulado */
}

.boton-finalizar {
  background-color: #ffa600; /* Naranja */
}

/* Hover effect */
.botones-navegacion button:hover {
  filter: brightness(110%);
}

/* Hover background */
.botones-navegacion button:hover {
  background-color: #555; /* Color de fondo cuando se hace hover */
}
.evaluacion-container {
  margin-top: 20px;
  text-align: center; /* Centra el botón horizontalmente */
  
}

.boton-finalizar {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: #ffa600; /* Naranja */
}

.boton-finalizar:hover {
  filter: brightness(110%);
}
