* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* Aplica la fuente Roboto a todos los elementos */
}




.a {
  display: inline-flex;
  justify-content: center; /* Centrar horizontalmente el botón */
  align-items: center; /* Centrar verticalmente el botón */
  padding: 6px 12px; /* Ajustar el relleno para hacer el botón más pequeño */
  background-color: hsla(209, 100%, 50%, 0.747);  /*323, 100%, 50%, 0.747*/
  color: #fff;
  border: none;
  border-radius: 20px; /* Reducir el radio de borde para que sea más redondeado */
  cursor: pointer;
  margin: 5px; /* Agregar 5px de margen en todos los lados */
  font-size: 20px; /* Reducir el tamaño del texto */
}

.boton-container {
  text-align: center; /* Centrar horizontalmente los botones */
  margin-bottom: 10px; /* Agregar espacio entre los botones */
}





/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .a {
      padding: 6px 12px; /* Ajustar el relleno para dispositivos móviles */
      font-size: 14px; /* Reducir el tamaño de fuente para dispositivos móviles */
      border-radius: 15px; /* Reducir el radio de borde para dispositivos móviles */
  }
}

a:hover{
  background-color: #5061f7;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'open sans';
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #1e0897;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}

/* Header */

header {
  width: 100%;
  height: 650px;
  background: #bc4e9c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, hsla(229, 95%, 63%, 0.459), hsla(150, 62%, 50%, 0.664)), url(/assets/principal.jpg);
  /* Chrome 10-25, Safari 5.1-6 */                    /*340, 95%, 50%, 0.459*/      /*317, 45%, 52%, 0.664*/
  background: linear-gradient(to right, hsla(202, 88%, 74%, 0.459), hsla(138, 82%, 67%, 0.664)), url(/assets/principal.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+,  */     /*340, 95%, 50%, 0.459*/        /*317, 45%, 52%, 0.664*/
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

nav{
  text-align: right;
  padding: 30px 50px 0 0;
}

nav > a{
  color:#fff;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}

nav > a:hover{
  text-decoration: underline;
}

header .textos-header{
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h1{
  font-size: 50px;
  color:#fff;
}

.textos-header h2{
  font-size: 30px;
  font-weight: 300;
  color:#fff;
}

.wave-container {
  position: absolute;
  width: 100%;
  height: 150px; /* Altura de la ola */
  overflow: hidden;
  bottom: 0;
}

.wave-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.wave{
  position: absolute;
  bottom:0;
  width:100%;

}

/* About us */

main .sobre-nosotros{
  padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
  display: flex;
  justify-content: space-evenly;
}

.imagen-about-us{
  width: 48%;
}

.sobre-nosotros .contenido-textos{
  width: 48%;

}

.contenido-textos h3{
  margin-bottom: 15px;
}

.contenido-textos h3 span{
  background: #5230eb;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 5px;
}

.contenido-textos p{
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}

/* Galeria */


.portafolio {
  background: #f2f2f2;
}

.contenedor {
  padding: 20px; /* Ajusta el padding según sea necesario */
}

.titulo {
  font-size: 28px; /* Tamaño de fuente del título */
  text-align: center; /* Centrar el texto */
}

.galeria-port {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.imagen-port {
  width: calc(25% - 20px); /* Ajusta el ancho según el número de imágenes por fila */
  margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  font-size: 12px;
  text-align: center;
  background: -webkit-linear-gradient(to right, hsla(229, 95%, 63%, 0.459), hsla(150, 62%, 50%, 0.664));
  /* Chrome 10-25, Safari 5.1-6 */                    /*340, 95%, 50%, 0.459*/      /*317, 45%, 52%, 0.664*/
  background: linear-gradient(to right, hsla(202, 88%, 74%, 0.459), hsla(138, 82%, 67%, 0.664));
  
}

.imagen-port img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: hsla(189, 82%, 59%, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h5 {
  font-size: 18px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  margin-top: 10px; /* Espaciado superior */
  margin-bottom: 10px; /* Espaciado inferior */
  text-align: center; /* Centrar el texto */
}

.hover-galeria img {
  width: 50px;
}

.hover-galeria p {
  color: #fff;
  font-size: 19px; /* Tamaño de fuente del título al pie de la imagen */
  text-align: center; /* Centrar el texto */
}

.imagen-port:hover .hover-galeria {
  transform: scale(1);
}



/* Clients */

.cards{
  display: flex;
  justify-content: space-evenly;
}

.cards .card{
  
  display: flex;
  width: 40%;
  background: -webkit-linear-gradient(to right, hsla(229, 95%, 63%, 0.459), hsla(150, 62%, 50%, 0.664)), url(/assets/principal.jpg);
  /* Chrome 10-25, Safari 5.1-6 */                    /*340, 95%, 50%, 0.459*/      /*317, 45%, 52%, 0.664*/
  background: linear-gradient(to right, hsla(202, 88%, 74%, 0.459), hsla(138, 82%, 67%, 0.664)), url(/assets/principal.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+,  */     /*340, 95%, 50%, 0.459*/        /*317, 45%, 52%, 0.664*/
  
  padding: 30px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
  text-align: justify;
  justify-self: center;
  
}

.cards .card img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.cards .card > .contenido-texto-card{
 
  color: #fcf9f9;
  font-size: 18px;
}

.cards .card > .contenido-texto-card p{
  text-align: justify;
  padding-top: 5px;
  font-weight: bold;
  
}
.cards .card > .contenido-texto-card h4{
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
  
  
}
/*  Our team */

.about-services{
  background: #f2f2f2;
  padding-bottom: 30px;
}


.servicio-cont{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.servicio-ind {
  
  padding: 10px; 
  text-align: center;
  margin-left: auto;
}

.servicio-ind img {
  width: 200px; /* Establece un ancho fijo */
  height: 200px; /* Establece una altura fija */
  object-fit: cover; /* Escala la imagen para que cubra el contenido del contenedor */
  background: -webkit-linear-gradient(to right, hsla(229, 95%, 63%, 0.459), hsla(150, 62%, 50%, 0.664));
  /* Chrome 10-25, Safari 5.1-6 */                    /*340, 95%, 50%, 0.459*/      /*317, 45%, 52%, 0.664*/
  background: linear-gradient(to right, hsla(202, 88%, 74%, 0.459), hsla(138, 82%, 67%, 0.664));
  padding: 10px;
}




.servicio-ind h3 {
  
  margin-bottom: 10px; /* Agregar espacio entre el título y el texto */
  margin-right: auto  ;
  font-size: 20px;
}

.servicio-ind p {
 
  font-weight: 300;
  justify-content: center;
  text-align: justify;
  font-size: 16px;
  padding: 20px;

}

/* footer */

footer{
  background: #414141;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.content-foo{
  text-align: center;
}

.content-foo h4{
  color: #fff;
  border-bottom: 3px solid #380694;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p{
  color: #ccc;
}

.titulo-final{
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #9e9797;
}

@media screen and (max-width:900px){
  header{
      background-position: center;
  }

  .contenedor-sobre-nosotros{
    display: grid;
    grid-template-columns: 2fr 1fr; /* Columnas: texto ocupa 2 partes, imagen ocupa 1 parte */
    gap: 20px; /* Espacio entre columnas */
    align-items: center; /* Alinea verticalmente */
  }

  .sobre-nosotros .contenido-textos{
    width:100%;

  }

  .imagen-about-us{
    width: 90%;
  }

  

  
  /* Clientes */

  .cards{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .cards .card{
      width: 90%;
  }

  .cards .card:first-child{
      margin-bottom: 30px;
  }

  /* servicios */

  .servicio-cont{
      justify-content: center;
      flex-direction: column;
  }

  .servicio-ind{
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
  }

  .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
      margin-bottom: 60px;
  }

  .servicio-ind img{
      width: 90%;
  }
}

@media screen and (max-width:500px){
  nav{
      text-align: center;
      padding: 30px 0 0 0;
  }

  nav > a{
      margin-right: 5px;
  }

  .textos-header h1{
      font-size: 35px;
  }

  .textos-header h2{
      font-size: 20px;
  }

  /* ABOUT US */

  .imagen-about-us{
      margin-bottom: 60px;
      width: 99%;
  }

  .sobre-nosotros .contenido-textos{
      width: 95%;
  }

  /* Galeria */

  .imagen-port{
      width: 95%;
  }

  /* Clients */

  .cards {
    display: flex;
    justify-content: space-evenly;
  }
  
  .cards .card {
    background: #d779df;
    display: flex;
    flex-direction: column; /* Cambiamos la dirección del contenido a columna */
    width: 40%;
    height: 600px;
    align-items: center;
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
  }
  
  .cards .card .contenido-texto-card {
   
    justify-self: center;
    margin: 1cm;
  }
  
  .cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: initial; /* Centra horizontalmente */
  }
  
  .cards .card > .contenido-texto-card {
    width: 60%;
    color: black;
    text-align: justify; /* Centra el texto */
    margin-top: 3px; /* Empuja el contenido hacia abajo */
    margin: 1cm;
    justify-content: center;
    display: inline-block; /* Hace que el texto se comporte como un bloque en línea */
      
      
      box-sizing: border-box; 
  
   
  }
  
  .cards .card > .contenido-texto-card p {

    padding-top: 5px;
    object-fit: cover;
    font-size: 18px;
    margin-inline-start: 1cm;
    padding: 10px; 
    box-sizing: border-box;

  
  }
  
  
  /* Footer */

  .contenedor-footer{
      flex-direction: column;
      border: none;
  }

  .content-foo{
      margin-bottom: 20px;
      text-align: center;
  }

  .content-foo h4{
      border: none;
  }

  .content-foo p{
      color: #ccc;
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 20px;
  }

  .titulo-final{
      font-size: 20px;
  }
 

 
  .primer-contenedor-sobre-nosotros {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Columnas: texto ocupa 2 partes, imagen ocupa 1 parte */
    gap: 20px; /* Espacio entre columnas */
    align-items: center; /* Alinea verticalmente */
}

.contenido-textos {
  width: 100%;
    /* Deja que el texto ocupe todo el ancho disponible */
}



.imagen-sobre-nosotros img {
  object-fit: cover;
  width: 200px; /* Ancho deseado */
  height: 150px; /* Alto deseado */
}



}