<html>
  <head>
    <title>Test de Beck</title>
</head> 
<body>
 <!-- app.component.html -->
<header>
  <section class="textos-header">
    <h1>Evaluacion de Salud Mental para bienestar emocional, psíquico y social</h1>
    <h2>Inventario de Ansiedad y de Depresión de Beck </h2>
  </section>
  <div class="wave-container" >
    <svg class="wave-svg" viewBox="0 0 500 150" preserveAspectRatio="none">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00Z" style="stroke: none;fill:#fff;"></path>
    </svg>
  </div>
</header>
<main>
<section class="Contenedor sobre-nosotros">
  <h2 class="titulo">nuestro servicio</h2>
  <div class="contenedor-sobre-nosotros">
    <img src="assets/descarga.jpg" alt="" class="imagen-about-us">
     <div class="contenido-textos">
        <h3><span>1</span>Test de Depresion BDI</h3>
        <p>El inventario de depresion de Beck BDI, creado por el psiquiatra, investigador y fundador de la Terapia
          Cognitiva, Aaron T. Beck, es un cuestionario autoadministrado que consta de 21 preguntas de respuesta múltiple.
          Es uno de los instrumentos más comunmente utilizados para medir la severidad de una depresión que pueden ser utilizadas
          en personas a partir de los 13 años de edad
        </p>

          <h3><span>2</span>Test de Ansiedad  BAI</h3>
        <p>El inventario de ansiedad de Beck BAI, está compuesto por 21 preguntas de respuesta multiple que describe diversos síntomas
    de ansiedad relacionados con las manifestaciones físicas de la misma, este test es un instrumento útil para valorar
    los síntomas somáticos de la ansiedad y puede ser utilizada a partir de los 13 años de edad.
        </p>
    </div>

  </div>



</section>
<section class="portafolio">
  <div class="contenedor">
<h2 class="titulo">galeria</h2>
<div class="galeria-port">
  
  <div class="imagen-port">
    <img src="assets/xd.jpg" alt="">
    <div class="hover-galeria">
      <img src="assets/flecha.png" alt="">
      <p>fjkerjkejke</p>
    </div>
    </div>

    <div class="imagen-port">
      <img src="assets/images1.jpg" alt="">
      <div class="hover-galeria">
        <img src="assets/flecha.png" alt="">
        <p>fjkerjkejke</p>
      </div>
      </div>

      <div class="imagen-port">
        <img src="assets/images2.jpg" alt="">
        <div class="hover-galeria">
          <img src="assets/flecha.png" alt="">
          <p>fjkerjkejke</p>
        </div>
        </div>

        <div class="imagen-port">
          <img src="assets/images3.jpg" alt="">
          <div class="hover-galeria">
            <img src="assets/flecha.png" alt="">
            <p>fjkerjkejke</p>
          </div>
          </div>
  </div>
</div>

</section>

<section>
  <div class="usuarios contenedor">
    <h2 class="titulo">Que dicen los usuarios</h2>
    <div class="cards">
      <div class="card">
        <img src="assets/images4.jpg" alt="">
        <div class="contedido-texto-card">
          <h4>Name</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nulla eligendi at assumenda maiores aliquid sed reprehenderit veniam nemo delectus vel expedita animi dolor earum, impedit magnam velit iusto quod.</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/images.jpg" alt="">
        <div class="contedido-texto-card">
          <h4>Name</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nulla eligendi at assumenda maiores aliquid sed reprehenderit veniam nemo delectus vel expedita animi dolor earum, impedit magnam velit iusto quod.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <section class="about-services">
    <div class="contenedor">
      <h2 class="titulo">djdjdjdjddjdjd</h2>
      <div class="servicio-cont">
        <div class="servicio-ind">
        </div>
        <div class="servicio-ind">
          <img src="assets/descarga.jpg" alt="">
          <h3>name</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus perspiciatis eaque adipisci maxime ducimus dolorum exercitationem deleniti quas possimus incidunt, rem, ipsam provident nulla iste odio, et ipsa quibusdam corrupti!</p>
       
        </div>
        <div class="servicio-ind">
          <img src="assets/descarga.jpg" alt="">
          <h3>name</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus perspiciatis eaque adipisci maxime ducimus dolorum exercitationem deleniti quas possimus incidunt, rem, ipsam provident nulla iste odio, et ipsa quibusdam corrupti!</p>
       
        </div>
       </div>
        
     
    </div>
  </section>
</section>

</main>

<footer>
  <div class="contenedor-footer">
    <div class="content-foo">
      <h4>phone</h4>
      <p>lorem10</p>
    </div>
    <div class="content-foo">
      <h4>Email</h4>
      <p>lorem10</p>
    </div>
    <div class="content-foo">
      <h4>location</h4>
      <p>lorem10</p>
    </div>
  </div>
   <h2 class="titulo-final">&copy; Ana Vel </h2>
</footer>

</body>
</html>