<html>
   <head>
    <title>Test de Beck</title>
</head> 
<body>
   <!-- app.component.html -->
<header>
  <section class="textos-header">
    <h1>Evaluacion de los niveles de de Depresion y Ansiedad</h1>
    <h2>Test de Beck </h2>
  </section>
  <div class="wave-container" >
    <svg class="wave-svg" viewBox="0 0 500 150" preserveAspectRatio="none">
      <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00Z" style="stroke: none;fill:#fff;"></path>
    </svg>
  </div>
</header>
<main>

  <section class="contenedor primer-contenedor-sobre-nosotros">
    <div class="contenido-textos">
        <p>La salud mental es muy importante sobre todo en estos tiempos, todas las personas en algún momento de su vida se han sentido tristes o ansiosas, el problema surge cuando estos sentimientos se vuelven intensos y por tiempos prolongados lo que puede llevar a interferir en las actividades diarias, la depresión y la ansiedad son dos trastornos diferentes, pero muchas veces se manifiestan al mismo tiempo. Por su parte la depresión se define por una tristeza persistente y crónica mientras que la ansiedad se caracteriza por un nerviosismo persistente y crónico.</p>
        <p>Durante el comienzo y aún más después de la pandemia, la permanencia en el mundo de la depresión y ansiedad aumentó en un 25%, según cifras de la Organización Mundial de la Salud (OMS), mientras que en México el Instituto Nacional de Geografía y Estadística (INEGI) mediante sus cifras reveló que 34.8 millones de personas han experimentado algún episodio depresivo a lo largo de su vida. Dadas estas cifras, es necesario tomar acción y darle mayor importancia a este tipo de trastornos para que se puedan atender de manera adecuada, ya que anteriormente según el estudio de la OMS incluso solo un pequeño porcentaje de las personas que la necesitaban tenían acceso a atención de salud mental.</p>
    </div>
    <div class="servicio-ind">
        <img src="assets/heart.jpg" alt="">
    </div>
</section>


  


  <section class="texto">
    <div class="usuarios contenedor">
      <h2 class="titulo">Depresión y Ansiedad</h2>
     <br>
     
      <br>
      <p class="parrafo">Actualmente los términos “Depresión” y “Ansiedad” se han vuelto muy comunes en el vocabulario del día a día, pero cuál es es significado de estas palabras… </p>
      
      <br> <br>
      <div class="cards">
        <div class="card">
          <img src="assets/queesdepresion.jpg" alt="">
          
          <div class="contenido-texto-card">
            <h4>¿Qué es la depresión?</h4>
            <br>
            <p>“El trastorno depresivo (o depresión) es un trastorno mental común. Implica un estado de ánimo deprimido o la pérdida del placer o el interés por actividades durante largos períodos de tiempo.La depresión es distinta de los cambios habituales del estado de ánimo y los sentimientos sobre el día a día. Puede afectar a todos los ámbitos de la vida, incluidas las relaciones familiares, de amistad y las comunitarias.” (OMS)
            </p>
          </div>

        </div>
        <div class="card">
          <img src="assets/ansiedad.jpg" alt="">
          <div class="contenido-texto-card">
            <h4>¿Qué es la ansiedad?</h4>
            <br>
            <p>“…miedo y preocupación de manera intensa y excesiva. Estos sentimientos suelen ir acompañados de tensión física y otros síntomas conductuales y cognitivos. Son difíciles de controlar, causan una angustia importante y pueden durar mucho tiempo si no se tratan. Los trastornos de ansiedad interfieren en las actividades de la vida cotidiana y pueden deteriorar la vida familiar, social y escolar o laboral de una persona.”(OMS)
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="contenedor primer-contenedor-sobre-nosotros">
    <div class="contenido-textos">
      <p>En este sitio vas a descubrir en qué nivel de depresión o ansiedad te encuentras, esto gracias a 2  test que fueron creados por el Psiquiatra Investigador y fundador de la terapia cognitiva Aaron T. Beck y que son reconocidos y los más usados por su alto índice de efectividad, cada uno de los cuestionarios toma aproximadamente 10 minutos en contestar y si así lo deseas tu resultado se envía a tu correo electrónico. Es muy importante mencionar que el resultado de los cuestionarios no son un diagnóstico médico, sino una referencia que te ayuda a descubrir en qué nivel están tus síntomas respecto a estas enfermedades, sin embargo dependiendo de tus resultados en este mismo sitio puedes tomar en cuenta algunos tips y recomendaciones para que tengas en consideración como puedes dar los primeros pasos en obtener ayuda si es que la requieres</p>
    </div>
    <div class="servicio-ind">
        <img src="assets/psicologo.jpg" alt="">
    </div>
</section>

 
   
  <section class="Contenedor sobre-nosotros">
    <h2 class="titulo">Tests</h2>
    <div class="contenedor-sobre-nosotros">
      <div class="contenido-textos">
        <h3><span>1</span>Test de depresión BDI-II 
        </h3>
        <p>El Inventario de Depresión de Beck es una de las herramientas más usadas por profesionales de la salud mental para evaluar los niveles de gravedad de la depresión en adultos y adolescentes. El resultado de este test no es suficiente para obtener un diagnóstico, es necesario tener evaluaciones complementarias por un especialista en la salud mental tales como entrevistas psicológicas o psiquiátricas, sin embargo puede ayudar a la detección de síntomas o como un chequeo.


        </p>
  
        <div class="boton-container">
          <a href="./testBeck" class="a"> Ir al test</a>
        </div>
  
        <h3><span>2</span>Test de Ansiedad BAI
        </h3>
        <p>El test de ansiedad de Beck se ha convertido en uno de los test autoaplicados más utilizados para evaluar la gravedad de la ansiedad. El BAI es ampliamente aceptado entre la comunidad científica y es una herramienta que puede ser utilizada tanto en adultos como en adolescentes, habitualmente se utiliza en la evaluación clínica y en la investigación psicológica. Así como el BDI-II  el resultado no puede ofrecer un diagnóstico, pero sí una orientación, detección o chequeo.</p>
  
        <div class="boton-container">
          <a href="./testAnsiedad" class="a"> Ir al test</a>
        </div>
      </div>
    </div>
  </section>

  <section class="about-services">
    <div class="contenedor">
      <h2 class="titulo">Recomendaciones</h2>
      <p class="parrafo">Existen varias alternativas para combatir la depresión y la ansiedad, los principales son los tratamientos psicológicos y la medicación con antidepresivos y ansiolíticos, pero esto dependerá de tu nivel de depresión o ansiedad, ya que en caso de ansiedad o depresión leve no es necesaria la medicación y las puedes combatir con otras alternativas.</p>
      <br><br>
      <h2 class="titulo">Combatir la Depresión</h2>
    </div>
  
    <div class="servicio-cont">
     <div class="columna">
        <div class="servicio-ind">
          <img src="assets/activacionconductual.jpg" alt="">
          <div class="hover-galeria">
            <img src="assets/flecha.png" alt="">
            <p>Texto de la recomendación</p>
          </div>
          <a href="./quienes#activacion_conductual"><h3>Terapia De Activacion Conductual</h3></a>
          <p>Esta terapia se enfoca en ayudar a las personas a entender cómo algunos comportamientos pueden influir en el estado de ánimo y a cambiarlos para mejorar el bienestar emocional. Al cambiar comportamientos inactivos o negativos y aumentar actividades placenteras o significativas, se puede mejorar el estado de ánimo.</p>
        </div>
  
        <div class="servicio-ind">
          <img src="assets/conitivo.png" alt="">
          <div class="hover-galeria">
            <img src="assets/flecha.png" alt="">
            <p>Texto de la recomendación</p>
          </div>
          <a href="./quienes#cognitiva_conductual"><h3>Terapia Cognitiva-Conductual</h3></a>
          <p>Esta terapia sirve para tratar diferentes problemas de salud mental y ayuda a identificar y afrontar situaciones concretas rápidamente, también es útil para aprender a manejar situaciones de estrés a las que nos enfrentamos a diario.</p>
        </div>
      </div>
  <br><br>
      <div class="columna">
        <div class="servicio-ind">
          <img src="assets/salud-mental2.png" alt="">
          <div class="hover-galeria">
            <img src="assets/flecha.png" alt="">
            <p>Texto de la recomendación</p>
          </div>
          <a href="./quienes#interpersonal"><h3>Psicoterapia Interpersonal</h3></a>
          <p>Esta terapia se enfoca en los roles en las relaciones y en mejorar la comunicación para tener una mejor relación con las personas alrededor de su vida. Es por tiempo limitado por tanto hay objetivos definidos y plazos para realizarlos</p>
        </div>
  
        <div class="servicio-ind">
          <img src="assets/res.jpg" alt="">
          <div class="hover-galeria">
            <img src="assets/flecha.png" alt="">
            <p>Texto de la recomendación</p>
          </div>
          <a href="./quienes#resolucion_problemas"><h3>Tratamiento Para la resolución de Problemas</h3></a>
          <p>La técnica de solución de problemas nos ofrece una brújula para navegar los desafíos y encontrar soluciones efectivas. Esta herramienta te permite abordar cualquier situación difícil de forma organizada y metódica, guiándote hacia un camino de éxito.</p>
        </div>
      </div>
    </div>
  </section>
  

  <section class="about-services">
    <h2 class="titulo">Combatir la Ansiedad</h2>
    <div class="servicio-cont">
    
      <div class="columna">
        <div class="servicio-ind">
          <!-- Contenido del primer servicio -->
        </div>
  
        <div class="servicio-ind">
          <img src="assets/rescog.jpg" alt="">
          <div class="hover-galeria">
            <!-- Contenido que se muestra al pasar el mouse -->
            <img src="assets/flecha.png" alt="">
            <p>Texto de la recomendación</p>
          </div>
          <a href="./quienes#Cognitiva-Emocional"><h3>Técnica de Reestructuración Cognitiva</h3></a>
          <p>La Reestructuración Cognitiva trata de conseguir que nuestras interpretaciones y pensamientos sean más realistas (con respecto a las situaciones y a nuestras capacidades de afrontarlas) y más específicos.</p>
        </div>
      </div>
  
     
        <div class="servicio-ind">
          <img src="assets/resdia.jpg" alt="">
          <div class="hover-galeria">
            <!-- Contenido que se muestra al pasar el mouse -->
            <img src="assets/flecha.png" alt="">
            <p>Texto de la recomendación</p>
          </div>
          <a href="./quienes#fisiologica"><h3>Técnicas de Respiración Diafragmática</h3></a>
          <p>También llamada Respiración Abdominal, es junto a otras muchas técnicas de Relajación (Relajación muscular progresiva de Jacobson, Relajación autógena de Schultz…), la meditación y otras, una forma de adquirir un estado de calma, donde se reduce la tensión física y nuestras constantes vitales</p>
        </div>
        <div class="columna">
        <div class="servicio-ind">
          <img src="assets/exposicion.jpg" alt="">
          <div class="hover-galeria">
            <!-- Contenido que se muestra al pasar el mouse -->
            <img src="assets/flecha.png" alt="">
            <p>Texto de la recomendación</p>
          </div>
          <a href="./quienes#conductual"><h3>Técnicas de exposición</h3></a>
          <p>La técnica de la exposición es el proceso de ayudar a una persona a enfrentar repetidamente un estímulo temido, para aprender formas nueva adaptativas de responder y reducir la ansiedad y el miedo asociado al estímulo.</p>
        </div>
      </div>
    
    </div>
  </section>
  
  

  <section class="portafolio" id="niveles-depresion">
    <div class="contenedor">
      <h2 class="titulo">Niveles de Depresión</h2>
  
      <div class="galeria-port">
        <div class="imagen-port" (click)="mostrarVentanaEmergente('Minima Depresión','')">
          <img src="assets/depresionNivel1.png" alt="">
          <div class="hover-galeria">
            <img src="assets/flecha.png" alt="">
            <p>fjkerjkejke</p>
          </div>
          <h5>Minima Depresión</h5>
        </div>
  
        <div class="imagen-port" (click)="mostrarVentanaEmergente('Depresión Leve','')">
          <img src="assets/depresionNivel2.png" alt="">
          <div class="hover-galeria">
            <img src="assets/flecha.png" alt="">
            <p>fjkerjkejke</p>
          </div>
          <h5>Depresión Leve</h5>
        </div>
  
        <div class="imagen-port" (click)="mostrarVentanaEmergente('Depresión Moderada','')">
          <img src="assets/depresionNivel3.png" alt="">
          <div class="hover-galeria">
            <img src="assets/flecha.png" alt="">
            <p>fjkerjkejke</p>
          </div>
          <h5>Depresión Moderada</h5>
        </div>
  
        <div class="imagen-port" (click)="mostrarVentanaEmergente('Depresión Grave','')">
          <img src="assets/depresionNivel4.png" alt="">
          <div class="hover-galeria">
            <img src="assets/flecha.png" alt="">
            <p>fjkerjkejke</p>
          </div>
          <h5>Depresión Grave</h5>
        </div>
      </div>
    </div>
  </section>
  
  <section class="portafolio" id="niveles-ansiedad">
    <div class="contenedor">
      <h2 class="titulo">Niveles de Ansiedad</h2>
      <div class="galeria-port">
        <div class="imagen-port" (click)="mostrarVentanaEmergente('Ansiedad Minima', 'Texto para Ansiedad Minima')">
          <img src="assets/ansiedadNivel1.png" alt="">
          <div class="hover-galeria">
            <img src="assets/flecha.png" alt="">
            <p>fjkerjkejke</p>
          </div>
          <h5>Ansiedad Minima</h5>
        </div>
  
        <div class="imagen-port" (click)="mostrarVentanaEmergente('Ansiedad Leve', 'Texto para Ansiedad Leve')">
          <img src="assets/ansiedadNivel2.png" alt="">
          <div class="hover-galeria">
            <img src="assets/flecha.png" alt="">
            <p>fjkerjkejke</p>
          </div>
          <h5>Ansiedad Leve</h5>
        </div>
  
        <div class="imagen-port" (click)="mostrarVentanaEmergente('Ansiedad Moderada', 'Texto para Ansiedad Moderada')">
          <img src="assets/ansiedadNivel3.png" alt="">
          <div class="hover-galeria">
            <img src="assets/flecha.png" alt="">
            <p>fjkerjkejke</p>
          </div>
          <h5>Ansiedad Moderada</h5>
        </div>
  
        <div class="imagen-port" (click)="mostrarVentanaEmergente('Ansiedad Severa', 'Texto para Ansiedad Severa')">
          <img src="assets/ansiedadNivel4.png" alt="">
          <div class="hover-galeria">
            <img src="assets/flecha.png" alt="">
            <p>fjkerjkejke</p>
          </div>
          <h5>Ansiedad Severa</h5>
        </div>
      </div>
    </div>
  </section>
  
  
</main>

<footer>
  <div class="contenedor-footer">
    <div class="content-foo">
      <h4>phone</h4>
      <p>lorem10</p>
    </div>
    <div class="content-foo">
      <h4>Email</h4>
      <p>lorem10</p>
    </div>
    <div class="content-foo">
      <h4>location</h4>
      <p>lorem10</p>
    </div>
  </div>
   <h2 class="titulo-final">&copy; Ana Vel </h2>
</footer>

</body>
</html>
