<div class="pregunta-container">
  <h1 class="titulo">Inventario de Ansiedad de Beck BAI</h1>
  <hr>
  <p class="instrucciones">En el cuestionario hay una lista de síntomas comunes de la ansiedad. Lea cada uno de los ítems atentamente, e indique cuanto le ha afectado en la última semana incluyendo hoy:</p>
  <p class="instrucciones">En cada línea pregunta la opción que mejor describe su reacción a cada oración.</p>
  
  <div class="pregunta-imagen-container">
    <div class="preguntas">
      <div class="pregunta">
        <h3 class="pregunta-texto">{{ preguntas[preguntaActual].pregunta }}</h3>
        <ul class="respuestas">
          <li *ngFor="let respuesta of preguntas[preguntaActual].respuestas">
            <input type="radio" name="respuesta" [checked]="respuesta.valor === respuestasUsuario[preguntaActual]" (change)="responderPregunta(preguntaActual, respuesta.valor)">
            <label>{{ respuesta.descripcion }}</label>
          </li>
        </ul>
      </div>
    </div>
    <div class="imagen-container">
      <img [src]="imagenes[preguntaActual]" alt="">
    </div>
  </div>
  
  <div class="botones-navegacion">
    <button class="boton-atras" (click)="navegarPregunta(-1)" [disabled]="preguntaActual === 0">Atrás</button>
    <button class="boton-siguiente" (click)="navegarPregunta(1)" [disabled]="preguntaActual === preguntas.length - 1">Siguiente</button>
  </div>

  <div class="evaluacion-container" *ngIf="preguntaActual === preguntas.length - 1">
    <button class="boton-finalizar" (click)="evaluarAnsiedad()">Evaluar Ansiedad</button>
  </div>
</div>
